* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-family: 'Varela Round';
}
:root {
    --color-l-1: #637A9F;
    --color-l-2: #C9D7DD;
    --color-l-3: #fafafa;/*#FFF3CF;*/
    --color-l-4: #E8C872;
    --color-font-highlight: #DE8344;
    --color-font: #002B5B;

    --nav-height: 4rem;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
}

/* social media icons */
.social_media_container {
    z-index: 2;
    /* background-color: #002B5B; */
    position: fixed;
    bottom: 6rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.link {
    position: relative;
    transition: all 0.2s ease-in-out;
}
.link a {
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-l-2);
    background-color: var(--color-font);
    transition: all 0.2s ease-in-out;
}
.link a:hover {
    background-color: var(--color-font-highlight);
    color: var(--color-font);
    transform: scale(1.2);
}
.email {
    transition: all 0.2s ease-in-out;
}
.email::before {
    content: "'normi263042@gmail.com' Copied";
    width: 17em;
    text-align: center;
    position: absolute;
    right: 3.5rem;
    top: 0.4rem;
    color: var(--color-l-2);
    background-color: var(--color-font);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}


/* Navbar */
.nav_container {
    background-color: var(--color-l-3);
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    padding-left: 3rem;
    padding-right: 3rem;
    position: fixed;
    width: 99vw;
    top: 0.5vw;
    left: 0.5vw;
    border-radius: 10px 10px 10px 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    /* box-shadow: 0 2px 5px #888888; */
    z-index: 99999;
    transition: transform 0.3s ease-in-out;
}
.nav_hidden {
    transform: translateY(calc(-1 * calc(var(--nav-height) + 0.5vw)));
}
.nav_container a {
    text-decoration: none;
}
.logo_container {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 0.5rem;
}
.logo_img {
    height: 70%;
}
.logo_text {
    color: var(--color-font);
    font-size: 2.4rem;
    font-weight: 700;
    font-family: 'Anta';
}
.nav_links {
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;
}
.nav_links a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-l-1);
    transition: all 0.2s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* gap: 0.3rem; */
    align-items: center;
}
.nav_links a:hover {
    color: var(--color-font-highlight);
    transform: scale(1.2);
}
/* .dropdown {
    float: left;
    overflow: hidden;
    height: 100%;
}
.dropdown_text {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    color: var(--color-l-1);
    cursor: pointer;
}
.dropdown_text:hover {
    color: var(--color-font-highlight);
}
.dropdown:hover .dropdown_menu {
    display: block;
}
.dropdown_menu {
    display: none;
    position: absolute;
    background-color: var(--color-l-3);
    min-width: 120px;
    z-index: 1;
    top: 4rem;
}
.dropdown_menu a {
    float: none;
    color: var(--color-l-1);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
}
.dropdown_menu a:hover {
    background-color: wheat;
    color: var(--color-l-1);
} */
.toggle_btn {
    color: var(--color-l-1);
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
}
.toggle_btn:hover {
    color: var(--color-font-highlight);
    transition: color 0.3s ease-in-out;
}

.RWD_dropdown_menu {
    position: fixed;
    top: 4.5rem;
    right: 1rem;
    margin: auto;
    width: 17rem;
    background-color: var(--color-l-3);
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    height: 0;
    z-index: 99999;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.RWD_dropdown_menu li {
    list-style: none;
    padding: 0.4rem;
    margin: 0.5rem;
}
.RWD_dropdown_menu li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color-l-1);
    display: block;
    transition: all 0.2s ease-in-out;

}
.RWD_dropdown_menu a:hover {
    color: var(--color-font-highlight);
    transform: scale(1.2);
}
.RWD_dropdown_menu.open {
    height: 11.25rem;
}

/* Home */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 4rem 4rem;
    margin: 0 auto;
    /* background-color: var(--color-l-2); */
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 4rem; */
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "p1 p1 p2";
    justify-items: center;
    align-items: center; */
    /* gap: 2rem; */
    color: var(--color-font);
}
/* .bc {
    background: radial-gradient(circle at bottom ,#637A9F, #637A9F 10%,transparent 10%, transparent 20%, #637A9F 20%, #637A9F 30%, transparent 30%, transparent 40%, #637A9F 40%, #637A9F 50%, transparent 50%, transparent 60%, #637A9F 60%, #637A9F 70%, transparent 70%, transparent 80%, #637A9F 80%, #637A9F 90%, transparent 90%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 0;
} */
.home_bc {
    background: radial-gradient(circle at 50% 100%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%), radial-gradient(circle at 100% 50%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%), radial-gradient(circle at 50% 0%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%), radial-gradient(circle at 0 50%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%);
    background-size: 4em 5em;
    background-color: #ffffff;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 0;
}
/* .bc {
    background: radial-gradient(circle at left bottom ,transparent 14%,#637A9F 15%, #637A9F 25%, transparent 26%, transparent 34%,#637A9F80 35%, #637A9F80 45%, transparent 46%, transparent 54%, #637A9F 55%, #637A9F 65%, transparent 66%, transparent 74%, #637A9F80 75%, #637A9F80 85%, transparent 86%);
    background-size: 4em 4em;
    background-color: #ffffff;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 30vh;
    bottom: 0;
} */
.home_part1 {
    z-index: 1;
    padding-left: 5rem;
    /* grid-area: p1; */
    min-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: flex-start;
}
.home_part1_h1 {
    font-size: 4rem;
    overflow: hidden;
    width: max-content;
    /* margin: auto; */
    word-break: break-all;
    /* white-space: nowrap; */
    height: 1.2em;
    border-right: 3px solid var(--color-font);
    animation: typing 2.5s ease-in-out infinite alternate;
}

@keyframes typing {
    0% {
        width: 1em;
    }
    70%, 100% {
        width: 7em;
    }
}
.home_part1_p {
    font-size: 2rem;
}
.home_part1_icons {
    font-size: 2.4rem;
    display: flex;
    gap: 1rem;
}
.home_part1_icons a {
    text-decoration: none;
    color: var(--color-font);
    transition: color 0.2s ease-in-out;
}
.home_part1_icons a:hover {
    color: var(--color-font-highlight);
}
.highlight {
    color: var(--color-font-highlight);
}
.home_part2 {
    /* grid-area: p2; */
    width: 25%;
    min-width: 180px;
    max-width: 300px;
}
.personal_img {
    border-radius: 50%;
    border: 3px solid var(--color-font);
    width: 100%;
}
.language_container {
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.language {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
}
.language i {
    width: 2.4rem;
    font-size: 2.4rem;
    text-align: center;
}
.language_bar {
    width: 20rem;
    height: 1.4rem;
    background-color: var(--color-font);
    border-radius: 10px;
    /* text-align: center; */
    display: flex;
    align-items: center;
}
.language_bar div {
    margin-left: 0.25rem;
    width: 20%;
    height: 1rem;
    border-radius: 10px;
    background-color: #DE8344;
}
.language_bar div span {
    float: right;
    font-size: 1rem;
    margin-top: 0.0005rem;
    padding-right: 0.2rem;
}
.python {
    animation: python 2s ease-in-out forwards;
}
@keyframes python {
    100% {
        width: 90%;
    }
}
.r {
    animation: r 2s ease-in-out forwards;
}
@keyframes r {
    100% {
        width: 90%;
    }
}
.html {
    animation: html 2s ease-in-out forwards;
}
@keyframes html {
    100% {
        width: 85%;
    }
}
.css {
    animation: css 2s ease-in-out forwards;
}
@keyframes css {
    100% {
        width: 85%;
    }
}
.javascript {
    animation: javascript 2s ease-in-out forwards;
}
@keyframes javascript {
    100% {
        width: 70%;
    }
}


/* About */
.about {
    background-color: var(--color-font);
    width: 100%;
    min-height: 100vh;
    padding: 4rem 4rem;
    display: flex;
    /* gap: 1rem; */
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.about_bc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #002B5B 0%, #002B5B 5%,transparent 5%, transparent 10%, #002B5B 10%, #002B5B 15%,transparent 15%,transparent 20%, #002B5B 20%, #002B5B 25%,transparent 25%,transparent 30%, #002B5B 30%, #002B5B 35%,transparent 35%,transparent 40%, #002B5B 40%, #002B5B 45%,transparent 45%,transparent 50%, #002B5B 50%, #002B5B 100%,transparent 55%,transparent 60%, #002B5B 60%, #002B5B 65%,transparent 65%,transparent 70%, #002B5B 70%, #002B5B 75%,transparent 70%,transparent 80%, #002B5B 80%, #002B5B 85%,transparent 85%,transparent 90%, #002B5B 90%, #002B5B 95%,transparent 95%), linear-gradient(135deg, #002B5B 0%, #002B5B 5%,transparent 5%, transparent 10%, #002B5B 10%, #002B5B 15%,transparent 15%,transparent 20%, #002B5B 20%, #002B5B 25%,transparent 25%,transparent 30%, #002B5B 30%, #002B5B 35%,transparent 35%,transparent 40%, #002B5B 40%, #002B5B 45%,transparent 45%,transparent 50%, #002B5B 50%, #002B5B 55%,transparent 55%,transparent 60%, #002B5B 60%, #002B5B 65%,transparent 65%,transparent 70%, #002B5B 70%, #002B5B 75%,transparent 70%,transparent 80%, #002B5B 80%, #002B5B 85%,transparent 85%,transparent 90%, #002B5B 90%, #002B5B 95%,transparent 95%);
    background-size: 4em 4em;
    background-color: #ffffff;
    opacity: 0.05;
}
.about_h1 {
    color: var(--color-l-2);
    font-size: 2rem;
    /* text-align: left; */
    margin: 1.5rem 0;
}
.timeline {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 1rem; */
    width: 80%;
    max-width: 700px;
    /* margin: auto; */
    color: var(--color-l-2);
}
.card {
    border-left: 4px solid var(--color-font-highlight);
    padding: 1rem 2rem;
    width: 100%;
}
.info {
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-l-2);
    border-radius: 10px;
    /* padding: 0.8rem; */
    margin-top: 1.2rem;
    width: 100%;
    /* height: 24rem; */
    height: auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.info_card_height {
    opacity: 0;
}
.info_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.8rem;
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    position: absolute;
    top: 0;
    right: 0;
}
.info_hover {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    background-color: #1f3d4738;
    position: absolute;
    top: -100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(20px);
    color: var(--color-l-3);
    font-size: 1rem;
    transition: all 0.8s ease-in-out;
}
.info:hover .info_hover {
    top: 0;
}
.info_hover a {
    padding: 0.4rem;
    text-decoration: none;
    color: var(--color-l-2);
    width: 100%;
    /* background-color: var(--color-font); */
    border: 2px solid var(--color-l-2);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.info_hover a:hover {
    color: var(--color-font);
    background-color: var(--color-font-highlight);
    border: 2px solid var(--color-font-highlight);
}
.time {
    font-size: 1.6rem;
    position: relative;
    color: var(--color-font-highlight);
}
.time::before {
    content: "";
    position: absolute;
    left: -2.8rem;
    top: 0.3rem;
    width: 10px;
    height: 10px;
    /* top: 5px; */
    background-color: var(--color-l-2);
    border-radius: 50%;
    border: 4px solid var(--color-font-highlight);
}
.title {
    font-size: 1.2rem;
    color: var(--color-l-4);
}
.content {
    font-size: 1rem;
    list-style: none;
}
.content li {
    margin-left: 1.2em; 
    text-indent: -1.3em ;
}
.content a {
    text-decoration: none;
    color: var(--color-l-2);
}
.content a:hover {
    color: var(--color-l-4);
}
.skill_container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin: auto; */
}


/* Project */
.project {
    width: 100%;
    height: 100vh;
    padding: 4rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(images/project_bc_low_poly_grid.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
}
.project_bc {
    background: radial-gradient(circle at bottom ,#002B5B, #002B5B 10%,transparent 10%, transparent 20%, #002B5B 20%, #002B5B 30%, transparent 30%, transparent 40%, #002B5B 40%, #002B5B 50%, transparent 50%, transparent 60%, #002B5B 60%, #002B5B 70%, transparent 70%, transparent 80%, #002B5B 80%, #002B5B 90%, transparent 90%);
    /* background: radial-gradient(circle at top left,transparent 25%,#002B5B 25.5%, #002B5B 36%, transparent 37%, transparent 100%),radial-gradient(circle at bottom right,transparent 34%,#002B5B 34.5%, #002B5B 45.5%, transparent 46%, transparent 100%); */
    /* background: radial-gradient(circle at 50% 100%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%), radial-gradient(circle at 100% 50%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%), radial-gradient(circle at 50% 0%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%), radial-gradient(circle at 0 50%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%); */
    background-size: 4em 6em;
    background-color: #ffffff;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.swiper {
    position: relative;
    /* background-color: #002B5B; */
}
.swiper_wrapper {
    width: 85vw;
    max-width: 1000px;
    height: 80vh;
    /* max-height: 550px; */
    margin: auto;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
/* .swiper {
    height: 100%;
} */
.swiper_slide {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    height: 100%;
    position: relative;
    margin-left: 1.5rem;
}
.slide_img {
    height: auto;
    width: 40%;
    /* min-width: 300px; */
    object-fit: cover;
    border-radius: 50px;
    /* box-shadow: 3px 3px 0px #454545; */
    box-shadow:  10px 10px 0px #bd6f3a, -10px -10px 0px #ff974e;
    /* position: absolute;
    left: 1rem; */
    transform: translateX(1rem);
    z-index: 1;
}
.slide_content {
    background-color: #fafafa;
    border-radius: 50px;
    width: calc(100% - 1.5rem);
    height: 95%;
    /* position: absolute;
    right: 1rem; */
    transform: translateX(-1rem);
    padding: 4rem 2rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8rem;
    /* margin-bottom: 1.5rem; */
}
.slide_title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1rem 0;
}
.slide_text {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6rem;
}
.skill_lang {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem;
}
.slide_link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-font-highlight);
    border: 3px solid var(--color-font-highlight);
    border-radius: 20px;
    text-align: center;
    padding: 0.8rem;
    position: relative;
    overflow: hidden;
}
.slide_link span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--color-font-highlight);
    border-radius: 20px;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}
.slide_link span:first-child {
    position: relative;
    z-index: 1;
}
.slide_link:hover {
    color: #fafafa;
}
.slide_link:hover span:last-child {
    width: 900px;
    height: 150px;
    opacity: 1;
}
.dots {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dots a {
    width: 1rem;
    height: 1rem;
    margin: 10px 0;
    background-color: var(--color-font);
    border-radius: 0.5rem;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}
.dots a.active {
    height: 3rem;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.dots a:hover {
    opacity: 0.8;
}

/* Blog */
.blog {
    width: 100%;
    padding: 4rem 0;
    position: relative;
    background-color: #002B5B;
    z-index: 0;
    padding-bottom: 6rem;
}
.blog_bc {
    background: linear-gradient(135deg, #002B5B80 50%, transparent 0),linear-gradient(-135deg, #002B5B80 50%, transparent 0);
    /* background: radial-gradient(circle at top left,transparent 25%,#002B5B 25.5%, #002B5B 36%, transparent 37%, transparent 100%),radial-gradient(circle at bottom right,transparent 34%,#002B5B 34.5%, #002B5B 45.5%, transparent 46%, transparent 100%); */
    /* background: radial-gradient(circle at 50% 100%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%), radial-gradient(circle at 100% 50%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%), radial-gradient(circle at 50% 0%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%), radial-gradient(circle at 0 50%, #637A9F80 5%, #637A9F 5% 10%, #637A9F80 10% 15%, #637A9F 15% 20%, #637A9F80 20% 25%, #637A9F 25% 30%, #637A9F80 30% 35%, #637A9F 35% 40%, transparent 40%); */
    background-size: 4em 4em;
    background-color: #ffffff;
    opacity: 0.08;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.blog_title {
    width: 70%;
    margin: 1.5rem auto;
    color: var(--color-l-2);
    font-size: 2rem;
}
.blog_container {
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.blog_card {
    background-color: #fafafacc;
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}
.blog_card_title {
    font-size: 1.6rem;
}
.time_author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    border-top: 2px solid var(--color-font);
    border-bottom: 2px solid var(--color-font);
    padding: 0.2rem 1rem;
    margin: 0.4rem 0;
    font-style: italic;
    color: var(--color-font);
}
.blog_tags {
    margin: 0.8rem 0;
    line-height: 2rem;
}
.blog_tag {
    padding: 0.2rem;
    border-radius: 5px;
}
.blog a {
    display: block;
    width: 100%;
    text-decoration: none;
    /* background-color: var(--color-font-highlight); */
    color: var(--color-font);
    border: 2px solid var(--color-font);
    padding: 0.6rem 0;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.blog_card:hover {
    transform: scale(1.05);
}
.blog a:hover {
    border: 2px solid var(--color-font-highlight);
    background-color: var(--color-font-highlight);
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.6rem;
    position: absolute;
    bottom: 0;
    z-index: 4;
    background-color: var(--color-l-3);
    width: 99vw;
    bottom: 0.5vw;
    left: 0.5vw;
    border-radius: 10px 10px 10px 10px;
}
.footer_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    text-decoration: none;
}
.footer_logo_img {
    width: 30px;
    box-shadow: none;
    margin: 0;
}
.footer_logo_text {
    color: #002B5B;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Anta';
    text-indent: 0;
}




@media (max-width: 800px) {
    html {
        font-size: 14px;
    }
    .nav_links {
        display: none;
    }
    .toggle_btn {
        display: block;
    }
    .home {
        flex-direction: column;
        gap: 1rem;
        /* grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "p1" "p2"; */
    }
    .home_part1 {
        padding-left: 0rem;
        width: 85%;
        text-align: center;
        align-items: center;
    }
    .home_part1_icons {
        justify-content: center;
    }
    /* .about {
        flex-direction: column;
    } */
    /* .info {
        height: 26rem;
    } */
    .timeline {
        width: 90%;
    }
    .swiper_wrapper {
        width: 80vw;
    }
    .swiper_slide {
        flex-direction: column;
    }
    .slide_img {
        height: auto;
        width: 55%;
        /* min-width: 200px; */
        object-fit: cover;
        /* position: absolute;
        left: 1rem; */
        transform: translateX(0);
        transform: translateY(1rem);
        z-index: 1;
    }
    .slide_content {
        /* position: absolute;
        right: 1rem; */
        width: 90%;
        transform: translateX(0);
        transform: translateY(-1rem);
        padding: 2rem 2rem;
        padding-top: 4rem;
    }
}
@media (max-width: 576px) {
    html {
        font-size: 12px;
    }
    .RWD_dropdown_menu {
        width: 94vw;
        right: 3vw;
    }
    .home {
        gap: 1rem;
    }
    .home_part1 {
        min-width: 336px;
    }
    .about {
        padding: 4rem 2rem;
    }
    .timeline {
        width: 100%;
    }
    /* .info {
        height: 32rem;
    } */
    /* .swiper_wrapper {
        height: 60vh;
    } */
    .slide_img {
        width: 60%;
    }
}
